[submodule "Modules/IntelliTect.PSDropbin"]
	path = Modules/IntelliTect.PSDropbin
	url = https://github.com/IntelliTect/PSDropbin.git
[submodule "submodules/RamblingCookieMonster/PowerShell"]
	path = submodules/RamblingCookieMonster/PowerShell
	url = git@github.com:RamblingCookieMonster/PowerShell.git
